.cs-logo {
  width: 120px;
  height: auto;
  margin-left: 20px;
}
.containerFluid {
  padding: 20px 150px;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
}
.cs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #0b4747;
}
.nav-menu {
  margin-right: 70px;
  list-style: none;
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.nav-menu .nav-item {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 3px solid transparent;
}
.nav-menu li {
  line-height: 40px;
  margin-right: 1rem;
}
.nav-menu li::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  transition: width 0.7s ease;
}
.nav-menu li:hover::after {
  width: 100%;
  background-color: #ff9800;
}
.cs-mobilemenu {
  display: none;
}
.nav-menum {
  display: none;
}
.searcdiv {
  margin-top: 20px;
}
.searchtext {
  padding: 12px;
  width: 80%;
  border: 1px solid gray;
  border-radius: 5px;
}

.customstyle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  padding: 50px;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background-color: #3e6b6b;
}
.buttonModal {
  color: #ffffff !important;
  background: #879c9c;
  padding: 8px 40px;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
}
.modalP {
  color: #ffffff;
  text-align: center;
  margin: 20px 0px;
}
.modalSpan {
  position: absolute;
  top: 15px;
  right: 24px;
  font-size: 22px;
  background: #e81123;
  padding: 3px 12px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  font-weight: 500;
}
.gloh2 {
  margin: 20px 0px 30px 0px;
}
.glop {
  margin-bottom: 60px;
  font-size: 18px;
}

.cs-footer {
  width: 100%;
  height: auto;
  background-color: #3e6b6b;
  border-top: 1px solid gray;
  padding: 20px 100px;
}
.cs-footer img {
  width: 100px;
}
.cs-footer h6 {
  color: #ffffff;
  margin: 10px 0px;
}
.cs-footer input {
  width: 180px;
  padding: 3px 5px;
  border: none;
  margin-right: 2px;
  font-size: 15px;
}
.cs-left1 p {
  color: #ffffff;
}
.cs-footer-left p {
  margin: 10px 0px;
  color: #ffffff;
}
.cs-footer button {
  border: none;
  padding: 2px 10px;
  font-size: 16px;
  color: #242323;
}
.cs-footer button:hover {
  color: #aaaaaa;
  background-color: #242323;
  transition: all 0.3s;
}
.cs-footer-middle ul {
  list-style: none;
  margin: 0px;
}
.cs-footer-middle li {
  padding: 10px 0px;
}
.cs-footer-middle li a {
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}
.cs-footer-right h5 {
  color: #ffffff;
  margin-bottom: 20px;
}
.cs-footer-right ul {
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
}
.cs-footer-right li {
  margin-left: 30px;
}
.cs-footer-right li a {
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
}
.cs-footer-right p {
  color: #ffffff;
  font-size: 17px;
  margin-top: 20px;

}
@media screen and (max-width: 960px) {
  .containerFluid {
    padding: 20px 65px;
  }
  .cs-mobilemenu {
    display: block;
    margin-right: 30px;
    cursor: pointer;
  }
  .cs-mobilemenu i {
    font-size: 28px;
    color: #ffffff;
  }
  .nav-menu {
    display: none;
  }
  .nav-menum {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    background-color: #0b4747;
    list-style: none;
    right: 0px;
    z-index: 5;
    width: 300px;
    padding: 0px;
  }
  .nav-menum li {
    text-align: center;
    padding: 0px;
    cursor: pointer;
  }
  .nav-menum li:hover {
    background-color: #ff9800;
  }
  .nav-menum .nav-item {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
  }
}
@media screen and (max-width: 767px) {
}
